<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="en">
<head>
    <meta charset="UTF-8">
    <title>Account Settings</title>
    <link th:href="@{/css/account.css}" rel="stylesheet" />
    <!-- CSS only -->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/css/bootstrap.min.css" rel="stylesheet"
          integrity="sha384-1BmE4kWBq78iYhFldvKuhfTAU6auU8tT94WrHftjDbrCEXSU1oBoqyl2QvZ6jIW3" crossorigin="anonymous">
</head>
<body>
<!-- Add navigation bar -->

<h1 class="text-center p-4">Account Settings</h1>
<p class="text-center" th:text="${Error_Msg}"></p><br>
<p class="text-center" th:text="${param.update_success}"></p><br>

<div class="d-flex justify-content-center text-center">
    <div>
        <div >
            <form th:action="@{/account_settings}" method="POST">
                Username<input class="form-control" id="username" type="text" th:name="username" required="required" th:value="${username}"><br><br>
                Current Password<input class="form-control" type="text" th:name="password" required="required"><br><br>
                New Password<input class="form-control" type="text" th:name="newPassword"><br><br>

                <input class="form-control btn btn-primary" type="submit" value="Update Account"/> <br><br>
                Delete Account
                <input class="form-control btn btn-primary" type="submit" th:name="deleteAccount" th:value=true value="Delete Account"/>
            </form><br>

            <form th:action="@{/}">
                <input class="form-control btn btn-primary" type="submit" value="Back"/>
            </form>
        </div>
    </div>
</div>

</body>
</html>